  <div class="card bg-white rounded-4 p-1 m-2" style="width: 25rem; height: 15rem;">
    <div class="pt-3 ps-3 pe-3">
      <h3><strong><%= booking.activity.name %></strong> with <%= booking.activity.user.first_name%> on <%= booking.start_date.strftime('%B %d') %> </h3>
        <div class=>
          <p><%= booking.activity.location %></p>
          <p><%= booking.start_date %> -- <%= booking.end_date %> </p>
        </div>
      </div>
  </div>
