<div class="container">
  <div class="d-flex flex-row align-items-baseline justify-content-between">
    <h1>Your Bookings</h1> <%= link_to "Back to search", activities_path, class: "p-3" %>
  </div>
  <div class="bookings">
    <% @bookings.each do |booking| %>
      <div class="booking bg-white p-2">
        <h3>Date with <%= booking.user.first_name%></h3>
        <p><%= booking.user.age %> <%= booking.user.gender %> <%= booking.user.preferences %></p>
        <ul>
          <li>On the <%= booking.date %></li> <!-- We need to add the start and end dates -->
          <li>For <%= booking.activity.description %> at <%= booking.activity.location %></li>
          <% if booking.status == true %>
            <li>Status: Confirmed! </li>
          <% elsif booking.status == "pending" %>
            <li>Status: Pending... </li>
          <% else %>
            <li>Status: Rejected </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
