<div class="card-trip">
    <%= cl_image_tag activity.photo.key  if activity.photo.attached? %>
  <div class="card-trip-infos">
    <div>
      <h2><%= activity.name %></h2>
      <p><%= activity.description %></p>
      <p><%= activity.location%></p>
    </div>
    <h2 class="card-trip-pricing"> ¥<%= activity.hourly_rate%> per hour</h2>
    <% if activity.user.photo.attached? %>
    <%= cl_image_tag activity.user.photo.key, class: "card-trip-user avatar-bordered" %>
    <% end %>
  </div>
<%= link_to "", activity_path(activity), class: "card-link" %>
</div>
