<%= link_to activity_path(activity), class: "card-link" do %>
  <div class="card-category" style="background-image" ;linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">

    <%= activity.location %>
    <div class="card-item">
      <p><%= activity.description%></p>
      <p><%= activity.hourly_rate%></p>
      <p><%= activity.description%></p>
    </div>
  </div>
<% end %>
