<div class="activity-image-container">
  <div class="activity-card">
    <%= image_tag 'https://plus.unsplash.com/premium_photo-1661284917589-d96587cbe886?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YWN0aXZpdHl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60', class: 'card-image' %>
    <h1 class="activity-title" ><%= @activity.description %></h1>
    <p class="activity-description">Join us for an exciting nature hike through scenic trails and breathtaking landscapes.</p>
    <p class="activity-details">
      Location: <%= @activity.location %><br>
      Hourly rate: ¥<%= @activity.hourly_rate %>
    </p>
    <p><%= render 'bookings/form' %></p>
  </div>
</div>
<div>
  <%= link_to "Back to activities", activities_path, class: "button-link" %>
</div>
