<div class="container">
    <div class="d-flex flex-row">
      <div class="activity col-8 bg-white">
          <%= render "activities/act_show" %>
      </div>
      <div class="user-forms d-flex flex-column col-4 mx-4">
        <%= render "activities/user_card" %>

        <div class="activity-card bg-white">
          <h4>Booking</h4>
          <% if user_signed_in? %>
            <%= render 'bookings/form', booking: Booking.new %>
          <% else %>
            <p>Please <%= link_to "sign in", new_user_session_path %> to make a booking.</p>
          <% end %>
        </div>

        <div class="activity-card bg-white">
          <h4>Leave a review for <%= @activity.user.first_name %></h4>
          <% if user_signed_in? %>
            <%= render 'reviews/formr', review: Review.new %>
          <% else %>
            <p>Please <%= link_to "sign in", new_user_session_path %> to leave a review.</p>
          <% end%>
        </div>
      </div>
    </div>

    <div class="reviews">
      <h2><%= @activity.user.first_name %> 's reviews </h2>
      <% if @activity.reviews.present? %>
      <ul class="list-group">
        <% @activity.reviews.each do |review| %>
          <li class="list-group-item"><%= review.comment.strip %></li>
        <% end %>
      </ul>
      <% else %>
        <p>No reviews yet!</p>
      <% end %>
    </div>
  <%= link_to "Back to activities", activities_path, class: "button-link" %>
</div>
