

<div class="cards-container">
  <div class="row">
      <div class="col-12 col-lg-8">

  <div class="activity-card">
    <div class="activity-image-container">
    <% if @activity.photo.attached? %>
      <%= cl_image_tag @activity.photo.key, class: 'activity-image' %>
    <% else %>
      <%= image_tag 'sunset.jpg' %>
    <% end %>
      <div class="activity-details">
        <h1 class="activity-title"><%= @activity.name %></h1>
        <p class="activity-description"><%= @activity.description %></p>
        <p class="activity-location">Location: <%= @activity.location %></p>
        <p class="activity-hourly-rate">Hourly rate: ¥<%= @activity.hourly_rate %></p>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="profile-card">
      <div class="profile-image">
      <% if @activity.user.photo.attached? %>
          <%= cl_image_tag @activity.user.photo.key %>
        <% else %>
          <%= image_tag 'user_profile.avif' %>
        <% end %>
      <div class="profile-details">
      <% if @activity.user.first_name.present? && @activity.user.gender.present? && @activity.user.age.present?%>
          <h2><%= @activity.user.first_name %> ・ <%= @activity.user.age %></h2>
          <p><%= @activity.user.gender %></p>
      <% else %>
          <h2></h2>
          <p> male </p>
      <% end %>
    </div>
      </div>
    </div>

    <div class="activity-card">
      <%= render 'bookings/form', booking: Booking.new %>
    </div>
    <div class="activity-card">
      <%= render 'reviews/form', review: Review.new %>
    </div>

</div>

<div>
  <%= link_to "Back to activities", activities_path, class: "button-link" %>
</div>
